
body, html {
  margin: 0;
  padding: 0;
  height: 100%; 
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  background-color: #918592 !important; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; 
}

.App {
  flex: 1; 
  display: flex;
  flex-direction: column;
}


.product-grid {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: start; 
  padding: 20px;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1c1c1c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky; 
  top: 0;
  z-index: 10;
}


.footer {
  background-color: #1c1c1c; 
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin-top: auto; 
  flex-shrink: 0; 
}